body,html{
  background: #040e20 !important;
}
.show{
 position: absolute;
 width: 100%;
 height: 100%;
 background:rgba(12, 12, 12, 0.4) none repeat scroll 0 0 !important;
}
.share{
 position: absolute;
 top:.5rem;
 right: 10px;
 color: #fff;
 z-index: 999;
 text-align: center;
 font-size: 14px;
 display: block;
 transition: all 2s ease-in 1s
}
.fenxiang{
 margin-left: 7rem;
 width: 2.6rem;
}
img{
 display: block;
}
.next{
 height: 100vh;
 color: #FFFFFF;
 background: #040e20 !important;
}

.header_img{
 width: 32%;
 margin:1rem auto;
}

.img_div{
 width: 4rem;
 height: 4rem;
 margin: auto;
 padding: 2rem  0 2rem 0;
 background-size:100%;
 overflow: hidden;
 text-align: center;
 font-size:.45rem;
 font-weight: bolder;
}
.img_div img{
 width: 100%;
 height: 100%;
}

.main{
 margin-top:1rem;
}
input{
 width: 6rem;
 display: block;
 margin-left: 1rem;
 border: none;
 border-bottom: 1px solid #f26acd;
 flex-direction:row;
 color: #FFFFFF;
 background:transparent;
 font-size:.4rem;
 height: .8rem;
 line-height: .8rem;
 margin-bottom: .8rem;
 text-indent: .5em;
 outline: none;
 float: left;
}
#yzm{
 width: 6rem;
}
#txm{
 width: 6rem;
}

button{
 display: block;
 float: left;
 border: none;
 color: #FFFFFF;
 opacity: .8;
 height: .8rem;
 line-height: .8rem;
}
a{
 display: block;
 list-style: none;
 color: #FFFFFF;
 text-decoration: none;
}

/*登陆成功*/
.next .img_div{
 background-size: 100%;
 border-radius: 0;
}
.downBtn{
 width: 6rem;
 border:1px solid #FFFFFF;
 height: 1.2rem;
 border-radius: 1.1rem;
 margin: auto;
 margin-bottom: .7rem;
 overflow: hidden;
 line-height: 1.2rem;
}
.downBtn img{
  height: 50%;
  margin-top: .35rem;
  margin-left: 22%;
  margin-right: .45rem;
  float: left;
}
.downBtn span{
 display: block;
 margin-right: 1.3rem;
 font-size: .34rem;
}
.p{
 text-align: center;
 padding: 0 1rem;
 font-size: .3rem;
}
.p:nth-of-type(1){
 margin-top: 3.5rem;
}